/* LEFT SIDEBAR */
.sidebar {
  background: #161e2d;
  border: 1px solid #1f293a;
  border-radius: 16px;
  padding: 20px;
  color: white;
  height: fit-content;

  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 2px;

}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
  font-size: 20px;
}

.profile_image{
  width: 50%;
  border-radius: 5rem;
  border-color: 4px solid aqua;
}


.profile_info {
  display: flex;
  align-items: center;
  gap: 50px;
}


.follow_display{
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 15px;
}

.bio{
  font-size: 15px;
  margin-top: 1rem;
}

.profile_button{
  background-color: rgb(189, 199, 234);
  text-align: center;
  padding: 5px 10px;
  font-family: sans-serif;
  letter-spacing: 1px;
  border-radius: 1.5rem;
  /* color: aliceblue; */
  font-size: 0.9rem;
  margin-top: 0.5rem;

}


.rightbar {
  background: #161e2d;
  border: 1px solid #1f293a;
  border-radius: 16px;
  padding: 20px;
  color: white;
  height: fit-content;
}

.rightbar h4 {
  margin-bottom: 12px;
}

.rightbar p {
  background: #1f293a;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

